body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #BBBBBB;
  font-family: 'PT Sans', sans-serif;
}

h1{
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: #DDE995;
}

input{
  margin-top: 10px;
}

.inputSection{
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs{
  width: inherit;
  display: flex;
  flex-direction: column;
}

button{
  padding:4px 8px;
}

.addOption{
  margin-top: 10px;
}

.resultSection{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}



.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}
